.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.navbar-brand {
	padding: 0px;
    padding-top: 2px;
}

.navbar-brand>img {
	height: 100%;
	padding: 5px;
	width: auto;
}

body { padding-top: 70px; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
